<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122623027349-i613q1erpiv4hq2pic7cuc0kl33gt3ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122623027349-i613q1erpiv4hq2pic7cuc0kl33gt3ji</string>
	<key>API_KEY</key>
	<string>AIzaSyATTZZQJbb21dgMd9DcSAGnD2VXet5Egg8</string>
	<key>GCM_SENDER_ID</key>
	<string>122623027349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Motion-Browser</string>
	<key>PROJECT_ID</key>
	<string>motion-browser</string>
	<key>STORAGE_BUCKET</key>
	<string>motion-browser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122623027349:ios:6d30decf012bffc8c3139c</string>
	<key>DATABASE_URL</key>
	<string>https://motion-browser.firebaseio.com</string>
</dict>
</plist>